 {% extends 'base.html' %}



{% block content %}
  
    
{% if form.errors %}
<p style="color:red">Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p style="color:red">Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p style="color:red">Please login to see this page.</p>
{% endif %}
{% endif %}

     
{% if user.is_authenticated %}


<h4>Welcome to RECK Technical Club's Portal!
</h4>
{% else %}


  
    
<div class="text-center" style="width:40%; margin:auto;">
  
     <div class="card-header"><h4>Log In</h4></div>
     <div class="card-body">
        
       <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          
         <div class="form-group">
           <div class="form-label-group">
             {{form.username}}
             <label for="inputEmail">Username</label>
           </div>
         </div>
         <div class="form-group">
           <div class="form-label-group">
             {{ form.password }}
             <label for="inputPassword">Password</label>
           </div>
         </div>
         <div class="form-group">
           <div class="checkbox">
             <label>
               <input type="checkbox" value="remember-me">
               Remember Password
             </label>
           </div>
         </div>
         <input class="btn" style="background:#1dbd1d;color:white;border-radius:20px;width:150px;" type="Submit" name="" value="Log In"><br>
         <input type="hidden" name="next" value="{{ next }}">
       </form>
        


         <br>
         <a class="btn btn-primary btn-block" style="width:250px;margin: auto;" href="/portal/register_user">Register Account</a>
         
      
      </div>
     </div>




{% endif %}


  {% endblock %}