{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}


{% if form.errors %}
<p style="color:red">Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p style="color:red">Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p style="color:red">Please login to see this page.</p>
{% endif %}
{% endif %}

     
{% if user.is_authenticated %}


<strong style="color:rgb(14, 182, 14)">You are logged in as {{ request.user.member.name}}. </strong><br>
<br>


{% endif %}


  
    

     <div>  
     <div class="card-header"><h4>Log In</h4></div>
     <div class="card-body">
        
       <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          
         <div class="form-group">
           <div class="form-label-group">
             {{form.username}}
             <label for="inputEmail">Roll Number</label>
           </div>
         </div>
         <div class="form-group" style="margin-bottom: 40px;">
           <div class="form-label-group">
             {{ form.password }}
             <label for="inputPassword">Password</label>
           </div>
         </div>
         
         <input class="btn btn-primary btn-block" style="background:#1dbd1d;width:250px; border-color: #1dbd1d" type="Submit" name="" value="Log In"><br>
         <input type="hidden" name="next" value="{{ next }}">
         
         <a class="btn btn-primary btn-block" style="width:250px;" href="/portal/register_user">Register Account</a>
         
       </form>
        
       </div>

         
      
      </div>
   


{% endif %}


{% endblock %}






        </div>