 {% extends 'portal/base.html' %}

{% block title %}
      {% load static %}
  	<link rel="stylesheet" type="text/css" href="{% static "polls/st.css" %}">
{% endblock %}

{% block heading %}
     
{% endblock %}
  
{% block content %}
  
       {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
     {% endif %}
     {% endif %}
     
     
      
      
      
  	<div class="loginbox">
        <h2>Log In</h2>
        <img src="{% static "portal/robot.jpg" %}" height="180" width = "250" style="float:right">
  	<form method="post" action="{% url 'login' %}">
        {% csrf_token %}

  		<p>Username</p>
  		{{ form.username }}
  		<p>Password</p>
  		{{ form.password }}
  		<input type="Submit" name="" value="login"><br>
        <input type="hidden" name="next" value="{{ next }}" />
  		<p align="center">Contact the admin if you have forgotten your password.</p>
  	</form>
</div>
  {% endblock %}