
table {
  border-collapse: collapse;
 
  letter-spacing: 1px;
  
}

td, th {
  /* border: 1px solid rgb(190,190,190); */
  padding: 10px 20px;
}

th {
  background-color: gray;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: lightgray;
}

tr:nth-child(odd) td {
  background-color: wheat;
}


caption {
  padding: 10px;
}

.button
{
    border: none;
	height: 30px;
    width: 100px;
	color: #fff;
	font-size: 16px;
	background: #2b892b;
	border-radius: 20px;
	cursor: pointer;
}
.button:hover
{
	background: #4367cf;
	color: #fff;
}
