
<nav class="navbar navbar-expand-md mb-3 navbar-dark "><div class="container ">


    <a class="navbar-brand" href="{{ home_url }}"><img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">{% if brand_name %} {{ brand_name }} {% else %}PORTAL {% endif %}</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto " >

{% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
           <li class="nav-item" ><a class="nav-link" style="color:white;" href="/portal/authenticate_pending_users/">Authenticate</a></li>
            {% endif %}

<li class="nav-item "><a class='nav-link ' style="color:white;" href="/portal/profile/">My Profile</a></li>
        <li class="nav-item"><a class='nav-link' style="color:white;" href="/portal/activity">Activity</a></li>

        <li class="nav-item"><a class='nav-link' style="color:white;" href="/portal/members/">Club Members</a></li>
        <!--My activities-->
<!--<li class="nav-item"><a class='nav-link' href="/portal/profile/posts">My Activities</a></li>-->
          <li class="nav-item"><a class='nav-link' style="color:white;" href="/portal/projects"> Projects</a></li>
            <li class="nav-item"><a class='nav-link' style="color:white;" href="/portal/create_project"> Add Project</a></li>
            <li class="nav-item"><a class='nav-link' style="color:white;" href="/portal/red_zone"> Red Zone</a></li>

<li class="nav-item"><a class='nav-link' style="color:white;" href="{% url 'logout' %}">L0G 0ut</a></li>
        {% else %}
           <!--<li class="nav-item"><a class='nav-link' href="/accounts/login"><b>LOGIN</b></a></li>-->

<!--<li class="nav-item"><a class='nav-link' href="/portal/register_user"><b>REGISTER</b></a></li>-->
        {% endif %}

     </ul></div></div></nav>
