{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}





<table>
  {% for p in posts %}
  <tr style="height: 150px">
    <td style="padding-right: 20px">
    <img style="height:80px;" class="rounded-circle " src="{{ p.author.member.image_url }}">
  </td>
  <td>
    <strong>{{ p.author.member.name }}</strong> <span class="text-muted">posted {{ p.created_date|timesince  }} ago</span>
  
    <h4> {{ p.title }}</h4>
    {{ p.text }}
    
  </td>
  
  
  
  </tr>
  {% endfor %}
</table>

{% endif %}


{% endblock %}