{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}

<table class="table" style="border:1px solid white;">
  <thead style="background:white;color:black;">
    <tr>
      <th scope="col">ACTIVITY</th>
      <th scope="col">PROJECT</th>
      <th scope="col">MEMBER</th>
     </tr>
  </thead>
  <tbody style="background:#F7F9F9;color:black;">
  {% for p in posts %}
  <tr>
      <th scope="row">{{ p.text }}</th>
   <th scope="row">#</th>
      <th scope="row">{{ p.author.member.name }}</th>

  </tr>{% endfor %}
   </tbody>
    </table>

{% endif %}


{% endblock %}