{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}





<span style="font-size: 30px ">Announcements</span><br><br>

  {% for a in announcements %}
  <div id="mobile">
      <table>
  <tr style="height: 150px">
    <td style="padding-right: 20px">
      <a href='/portal/profile/{{ a.author.member.roll }}/'> <img style="height:100px;width:130px;" class="rounded-circle " src="{{ a.author.member.image_url }}"> </a>
  </td>
  <td  class = "speech-bubble-announcement" >
    <a href='/portal/profile/{{ a.author.member.roll }}/'><strong style="color: #0062cc">{{ a.author.member.name }}</strong></a> <span class="text-muted">posted {{ a.created_date|timesince  }} ago </span>
  
    <h5> {{ a.title }}   </h5>
    {{ a.text }}
    
  </td>
  
  
  
  </tr>
</table>
</div>

<div id="pc">
  <table>
<tr>
<td style="padding-right: 22px">
  <a href='/portal/profile/{{ a.author.member.roll }}/'> <img style="height:40px;width:53px;" class="rounded-circle " src="{{ a.author.member.image_url }}"> </a>
</td>
<td  class = 'speech-bubble-announcement' style="padding: 10px">
  <span style="font-size: 15px;"><a href='/portal/profile/{{ a.author.member.roll }}/'><strong style="color: #0062cc">{{ a.author.member.name }}</strong></a> <span class="text-muted">posted {{ a.created_date|timesince  }} ago </span>
</span><br>
<strong style="font-size: 17px;"> {{ a.title }}   </strong>
<p style="font-size: 15px;">{{ a.text }} </p>

</td>



</tr>
</table>
</div>
<br>
  {% endfor %}


{% endif %}


{% endblock %}