<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "portal/base.css" %}">
</head>
<body>
<div class="container">
  <div class="tutorial">
    <ul>
      <li><a href="/accounts/login"> Home</a></li>
      <li><a href="/portal/register_user"> Register </a></li>
           {% if request.user.is_superuser %}
           <li><a href="/portal/authenticate_pending_users/">Authenticate</a></li>
            {% endif %}
            
            <li><a href="/admin"> Admin </a></li>
           
            
            {% if request.user.is_authenticated %}
            <li><a href="/portal/profile/"> My Profile</a></li>
            <li><a href="/portal/members/"> Club Members</a></li>
            <li><a href="/portal/activity"> Activity </a></li>
            <li><a href="/portal/profile/posts"> My Posts</a></li>
            <li><a href="{% url 'logout' %}"> Log Out</a></li>
            {% endif %}
    </ul>
    <!-- <img src="{% static "portal/students.jpg" %}" alt="Girl in a jacket" style="width:784px;height:300px;"> -->
    <div class="information">
       {% block content %}
            {% endblock %} 
    </div>
  </div>
</div>
</body>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
