<html>
<head>
    <title>Technical Club Portal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "portal/index.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
    {% block title %}
    {% endblock %}
    </head>
<body>
<div id="outer">
       
    <div id="heading">
        <h1 style = "text-align:center"> Technical Club Portal</h1>
        {% block heading %}
    {% endblock %}
        
    </div>   
    
    <div id="welcome">
        {% if request.user.is_authenticated %}
        <h5>Welcome, {{ request.user.username }}!</h5>
        {% endif %}
    </div>
    
    <div id="menu">
        <ul id="ulst">
            <li id="list"><a class="indent" href="/accounts/login"> Home</a></li>
            {% if request.user.is_authenticated %}
            {% if status is False %}
            <li id="list"><a class="indent" href=""> Vote</a></li>
            {% endif %}
            
            {% else %}
            <li id="list"><a class="indent" href=""> Register</a></li>
            <li id="list"><a class="indent" href=""> Log In</a></li>
            {% endif %}
            {% if status is True %}
            <li id="list"><a class="indent" href=""> Results</a></li>
            {% endif %}
            <li id="list"><a class="indent" href="/admin"> Admin </a></li>
            <li id="list"><a class="indent" href="/register_user"> Register </a></li>
            <li id="list"><a class="indent" href="/activity"> Activity </a></li>
            {% if request.user.is_authenticated %}
            <li id="list"><a class="indent" href="/portal/profile/"> My Profile</a></li>
            <li id="list"><a class="indent" href="/portal/members/"> Club Members</a></li>
            
            <li id="list"><a class="indent" href="/portal/profile/posts"> My Posts</a></li>
            <li id="list"><a class="indent" href=""> Log Out</a></li>
            {% endif %}
        </ul> 
        
        
    </div>
    
    <div id="parent">
        <div id="info">
            
            {% block content %}
            {% endblock %}      
                
        </div>
        <div id="sidebar">
        <ul id="ulst">
        <li><a href="http://reck.ac.in/"> REC Kannauj's website</a></li> 
        <li><a href="https://aktu.ac.in/"> AKTU's website</a></li>  
        <li><a href="https://www.facebook.com/techclubreck/"> Tech Club RECK</a></li>  
        </ul>
        
        
        
        </div>
    </div>
    
</div><br clear="all">
    <div id="footer">
        <div id="footer1">
            <h4>
                    Contact us at: <br>                                    
                    zeusthepotter@gmail.com <br>                           
                    
                                                     
            </h4>
        </div>
    
        <div id="footer2">
            <h4>
           ADDRESS<br>
           Rajkiya Engineering College Kannauj <br>
           Kannauj-209732(UP)

            </h4>
        </div>
    </div>
    


</body>
</html>
