{% extends 'base.html' %}

{% block content %}

{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}



<h2> Club Members</h2>
<br>
<table>
        

{% for m in members %}
    <tr>
        <td style="color:black;">{{ forloop.counter }}.</td>

        
        
        
        <td>
        
            <a href="/portal/profile/{{ m.roll }}/">
            <img class="img-rounded img-thumbnail mx-auto" alt="Responsive image"  style="height:100px;width:130px;border-radius:50%;" src="{{ m.image_url }}" >
            </a>
         
        </td>
        <td>
            
                <a style="color:black;" href="/portal/profile/{{ m.roll }}/"> {{ m.name }} </a>
        </td>
        <td style="color:black;">{{ m.role }}</td>
        <td style="color:black;">{{ m.team }}</td>

    </tr>
{% endfor %}
</table>    

{% endif %}
{% load static %}
<link href="{% static "portal/minimal-table.css" %}" rel="stylesheet" type="text/css">

{% endblock %}