{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}




<span style="font-size: 30px ">My Activity Log</span><br><br>

  {% for p in posts %}
  <div id="mobile">
      <table>
  <tr style="height: 150px">
    <td style="padding-right: 20px">
      <a href='/portal/profile/{{ p.author.member.roll }}/'> <img style="height:80px;" class="rounded-circle " src="{{ p.author.member.image_url }}"> </a>
  </td>
  <td  class = 'speech-bubble'>
    <a href='/portal/profile/{{ p.author.member.roll }}/'><strong style="color: #0062cc">{{ p.author.member.name }}</strong></a> <span class="text-muted">posted {{ p.created_date|timesince  }} ago. (<a href="/portal/project/{{ p.project.pk }}/">{{ p.project.title }}</a>)</span>
  
    <h5> {{ p.title }}   </h4>
    {{ p.text }}
    
  </td>
  
  
  
  </tr>
</table>
</div>
<div id="pc">
  <table>
<tr>
<td style="padding-right: 10px">
  <a href='/portal/profile/{{ p.author.member.roll }}/'> <img style="height:40px;width:53px;" class="rounded-circle " src="{{ p.author.member.image_url }}"> </a>
</td>
<td  class = 'speech-bubble' style="padding: 10px">
  <span style="font-size: 10px;"><a href='/portal/profile/{{ p.author.member.roll }}/'><strong style="color: #0062cc">{{ p.author.member.name }}</strong></a> <span class="text-muted">posted {{ p.created_date|timesince  }} ago (<a href="/portal/project/{{ p.project.pk }}/">{{ p.project.title }}</a>)</span>
</span>
<span style="font-size: 12px;"> {{ p.title }}   </span>
<p style="font-size: 10px;">{{ p.text }} </p>

</td>



</tr>
</table>
</div>
<br>
  {% endfor %}


{% endif %}


{% endblock %}