{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}


<table class="table" style="border:1px solid white;">
    <caption style="display: table-caption; text-align: center; caption-side: top; color:black; margin-right: 150px;"> <h2 style="font-family: 'Courgette', cursive; ">My Projects</h2></caption>
  <thead style="background:white;color:black;">
    <tr>
      <th scope="col">S.No.</th>

      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
      <th scope="col">Members</th>
     </tr>
  </thead>
  <tbody style="background:#F7F9F9;color:black;">
 {% for p in projects %}
  <tr>
      <td scope="row">{{ forloop.counter }}</td>
      <td scope="row"><a href="/portal/project/{{ p.pk }}/">  {{ p.title }}  </a></td>
      <td scope="row">{{ p.description }}</td>
      <td scope="row">{{ p.deadline }}</td>
      <td scope="row">{% for x in p.worker.all %}<a href="/portal/profile/{{ x.member.roll }}">{{ x.member.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>

  </tr>{% endfor %}
   </tbody>
    </table>

<!--<table align="center">-->
        <!--<caption><h3>Projects</h3></caption>-->
    <!---->
    <!--<tr>-->
        <!--<td><b>Title</b></td>-->
        <!--<td><b>Description </b></td>-->
        <!---->
    <!--</tr>-->
    <!--{% for p in projects %}-->
        <!--<tr>-->
            <!--<td>{{ p.title }}</td>-->
            <!--<td>{{ p.description }} </td>-->
            <!---->
        <!--</tr>-->
    <!--{% endfor %}-->
    <!--</table>    -->

{% endif %}


{% endblock %}