{% extends 'base.html' %}
{% block content %}



{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}

<center>
<div class="row">
    <div class="col col-lg-4 col-md-4 col-sm-12 mr-auto " style="background:white;color:black;//line-height:90%;">
		<br/>
<img class="rounded-circle img-thumbnail" alt="Responsive image" src="{{ member.image_url }}" style="height:200px;width:230px;" >

<br/>
        <div style="background:#FBFCFC;"><hr/>
        <h1>{{ member.name }}</h1>
        {{ member.role }}<br/>
        {{ member.team }}<br/>
        {{ member.branch }} &nbsp {{ member.year }}<br/><hr/></div>
        
        <div class="row"><div class="col ">Roll No.</div><div class="col">{{ member.roll }}</div></div>
        <div class="row"><div class="col ">Phone</div><div class="col">{{ member.contact_no }}</div></div>
        <div class="row"><div class="col ">Email</div><div class="col">{{ member.email }}</div></div>

<br/></div>
 <div class="col col-lg-8 col-md-8 col-sm-12 mr-auto " style="background:#FBFCFC;color:black;border-left:1px solid lightgrey;overflow-y:scroll;">
<h2 style="text-align:left;margin-top:30px;margin-left:10px;font-family: 'Courgette', cursive;">My Activity<hr/></h2>

<table>
        <col width="130">
        <col width="480">

        <tr style="height:60px">
                <td><b> Title </b></td>
                <td><b>Description</b></td>


        </tr>   
     {% for p in posts %}
        <tr>
                <td> {{ p.title }} </td>
                <td>{{ p.text|truncatewords:14 }}</td>


        </tr>
       
        {% endfor %}

</table>
<div class="row" style="margin-top:30%;"><div class="col">
     <a class="btn btn-primary btn-block" style="width:150px;" href="/portal/add_post" >+ Add New Post</a><br/>
</div></div>
</div>
 </center>

{% endif %}




{% endblock %}
