{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}

<table class="table" style="border:1px solid white;">
  
  <thead style="background:white;color:black;">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
      <th scope="col">Members</th>
     </tr>
  </thead>
  <tbody style="background:#F7F9F9;color:black;">
 
  <tr>
      <td scope="row"><a href="/portal/project/{{ p.pk }}/">  {{ p.title }}  </a></td>
      <td scope="row">{{ p.description }}</td>
      <td scope="row">{{ p.deadline }}</td>
      <td scope="row">{% for x in p.worker.all %}<a href="/portal/profile/{{ x.member.roll }}">{{ x.member.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  </tr>
   </tbody>
</table>

<strong>Project Completed? :  {{ p.finished }} </strong>

<br>
<br>
<span style="font-size: 30px ">Activity related to this project</span>



{% for x in p.post_set.all %}
<div >
    <table>
<tr style="height: 150px">
  <td style="padding-right: 20px">
    <a href='/portal/profile/{{ x.author.member.roll }}/'> <img style="height:80px;" class="rounded-circle " src="{{ x.author.member.image_url }}"> </a>
</td>
<td  class = 'speech-bubble'>
  <a href='/portal/profile/{{ x.author.member.roll }}/'><strong style="color: #0062cc">{{ x.author.member.name }}</strong></a> <span class="text-muted">posted {{ x.created_date|timesince  }} ago</span>

  <h4> {{ x.title }}</h4>
  {{ x.text }}
  
</td>
 
</tr>
</table>
</div>
<br>

{% endfor %}





{% endif %}


{% endblock %}