{% extends 'base.html' %}

{% block content %}


{% if request.user.member.pending_status == True %}


Your account has not been authenticated yet!






{% else %}


<table class="table" style="border:1px solid white;">
  <thead style="background:white;color:black;">
    <tr>
      <th scope="col">S.No.</th>

      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Members</th>
     </tr>
  </thead>
  <tbody style="background:#F7F9F9;color:black;">
 {% for p in projects %}
  <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <th scope="row">{{ p.title }}</th>
      <th scope="row">{{ p.description }}</th>
 <th scope="row">#</th>

  </tr>{% endfor %}
   </tbody>
    </table>

<!--<table align="center">-->
        <!--<caption><h3>Projects</h3></caption>-->
    <!---->
    <!--<tr>-->
        <!--<td><b>Title</b></td>-->
        <!--<td><b>Description </b></td>-->
        <!---->
    <!--</tr>-->
    <!--{% for p in projects %}-->
        <!--<tr>-->
            <!--<td>{{ p.title }}</td>-->
            <!--<td>{{ p.description }} </td>-->
            <!---->
        <!--</tr>-->
    <!--{% endfor %}-->
    <!--</table>    -->

{% endif %}


{% endblock %}