{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ details.title }}</h1>
    </div>

</div>
<div class="row">
    <div class="col col-lg-4 col-md-4 col-sm-12 mr-auto " style="background:white;color:black;border-right:1px solid grey;">
        <br/><h3>Update Project</h3>
        <div style="background:#FBFCFC;"><hr/>

<form method="post" action="">
    {% csrf_token %}
            Members<br/>
        {{form.worker}}<br/>
            Deadline ( yyyy-mm-dd )  <br/>
        {{ form.deadline }}<br/>
         Project complete?<br/>
        {{ form.finished }}<br/>
        <hr/></div>

<br/>
    <input class="btn btn-primary btn-block" style="width:170px;" type="submit" value="Update" /><br/><br/>
    </form>

    </div>
    <div class="col col-lg-7 col-md-7 col-sm-11 mr-auto " style="margin-left:1px;background:white;color:black;">
        <br/><div class="row"><h3>Project Details</h3></div>
        <div class="row">
        Project Title:{{ details.title }}<br/>
            Description: {{ details.description|truncatewords:12 }}<br/>
            Members:
        {{details.worker}}<br/>
            Deadline ( yyyy-mm-dd ):
        {{ details.deadline }}<br/>
         Project complete?:
        {{ details.finished }}<br/>
        <hr/>
        </div>

    </div>

</div>
 </center>


<!--<form method="post" action="">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<input type="submit" value="Create new project" />-->
<!--</form>-->

{% endblock %}

