{% extends 'base.html' %}
{% block content %}

<center>
<div class="row">
    <div class="col col-6 mx-auto " style="background:white;color:black;">
		<br/>
<img class="img-rounded img-thumbnail mx-auto" alt="Responsive image" src="{{ member.image_url }}" style="height:250px;width:280px;border-radius:50%;" >

<br/><hr/><h1>{{ member.name }}</h1>
        {{ member.role }}<br/>
        {{ member.team }}<br/>
        {{ member.branch }} &nbsp {{ member.year }}<br/><hr/>
        <div class="row"><div class="col ">Phone</div><div class="col">{{ member.contact_no }}</div></div>
        <div class="row"><div class="col ">Email</div><div class="col">{{ member.email }}</div></div>

<br/></div>

</div>
 </center>




{% endblock %}