{% extends 'base.html' %}
{% block content %}

<center>
<div class="row" style="text-align: center;">
                <div class="col col-lg-4 col-md-4 col-sm-12 mr-auto" style="background:white;color:black;width:50%;margin:auto;">
                        <br/>
        <img class="rounded-circle img-thumbnail" alt="Responsive image" src="{{ member.image_url }}" style="height:180px;width:210px;" >
        
        <br/>
                <div style="background:#FBFCFC;"><hr/>
                        <div class="profile-detail-name">
                                {{ member.name }}
                        </div>
                        <div class="profile-detail-role">
                                {{ member.role }} {% if member.role != "Faculty" %} - {{ member.team }} {% endif %}
                        </div>
                        <div class="profile-detail-contact">
                                <i class="fas fa-phone"></i>&nbsp;{{ member.contact_no }}<br>
                                <i class="fas fa-envelope"></i>&nbsp;{{ member.email }}
        
                        </div>
                <br><hr/></div>
                {% if member.role != "Faculty" %}
                <div class="profile-detail-branch">
                        <div style="margin:auto;display:block;width:190px;">
                        <table>
                                <tr>
                                        <td>Roll No.</td>
                                        <td>{{ member.roll }}</td>
                                </tr>
                                <tr>
                                        <td>Branch</td>
                                        <td>{{ member.branch }}</td>
                                </tr>
                                <tr>
                                        <td>Year</td>
                                        <td>{{ member.year }}</td>
                                </tr>
                        </table>
                </div> 
                </div>
                {% endif %}
        <br/></div>
</div>
 </center>




{% endblock %}